
<div class="contact">
    <h2>
        Contact
    </h2>
    <div>
        <img class="img-responsive" src="~/images/conact.jpg"/>
    </div>
    <div>
        <p>
            Name:
        </p>
        <p>
            Dummy
        </p>
    </div>
    <div>
        <p>
            Title:
        </p>
        <p>
            M.Sc.
        </p>
    </div>
    <div>
        <p>
            Tel:
        </p>
        <p>
            012345 / 12314
        </p>
    </div>
   <div>
       <p>
           Mail:
       </p>
       <p>
           christian.hahn@ecx.io
       </p>
   </div> 
</div>