
<div class="Textbox con">
    <h3>
        Nachteile
    </h3>
    <div>
        <ul>
            <li>
                Kein Browser Back
            </li>
            <li>
                Bei jedem neuen Aufruf der Suchseite wird die 1. Seite mit Standardeinstellungen aufgerufen
            </li>
        </ul>
    </div>
</div>
