

<div class="row">
    <div class="col-md-12">
        <div class="OverViewLinks">
            <h1>
                Variations of Search Implementations
            </h1>
           @Html.Partial("~/Views/SearchOverviewPage/Partials/Links.cshtml")
        </div>      
    </div>
</div>