
<div class="Textbox pro">
    <h3>
        Vorteile
    </h3>
    <div>
        <ul>
            <li>
                Einfache Implementierung
            </li>
            <li>
                Browser Back möglich
            </li>
            <li>
                Beim erneuten Aufruf der Suchseite wird die letzte Suche geladen, sofern in der Session vorhanden
            </li>
        </ul>
    </div>
</div>
