<div>
    @Html.ActionLink("Search with Query", "Index", "SearchPageQuery")
</div>
<div>
    @Html.ActionLink("Search with AJAX", "Index", "SearchPageAjax")
</div>
<div>
    @Html.ActionLink("Search with AJAX Session", "Index", "SearchPageAjaxSession")
</div>
<div>
    @Html.ActionLink("Search with AJAX History Push", "Index", "SearchPageAjaxHistoryPush")
</div>